//  ========== content container for everything on the main page ========== //
.orders-content-container {
  .add-order-group {
    left: 75%;
    margin-top: 2rem;
    position: absolute;
    top: 21vh;
    width: 25%;

    // flex properties
    @include displayFlex(center, center);

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $medium) {
      top: 14vh;
    }

    h2 {
      margin-right: 0.75rem;
    }

    .fa-plus {
      color: $theme-red;
    }
  }

  // ========== content container for the filled and unfilled tables ========== //
  .orders-tables-content {
    margin-top: 2em;

    //   flex properties
    @include displayFlex(stretch, space-between);

    @media screen and (max-width: $medium) {
      @include displayFlex(stretch, flex-start, column nowrap);
    }

    h2 {
      margin-bottom: 1em;
      text-align: center;
    }

    .filled-orders-content,
    .unfilled-orders-content {
      width: calc(100% - 1rem);

      // flex properties
      @include displayFlex(center, center, column nowrap);

      table {
        @media screen and (max-width: $medium) {
          width: calc(100vw - 4rem);
        }

        tbody {
          min-height: 32.5vh;
          max-height: 32.5vh;

          @media screen and (max-width: $medium) {
            min-height: 17.5vh;
            max-height: 17.5vh;
          }

          @media screen and (min-width: $xx-large) {
            min-height: 50vh;
            max-height: 50vh;
          }
        }

        td {
          min-width: 10vw;
          max-width: 10vw;

          @media screen and (max-width: $medium) {
            min-width: 22vw;
            max-width: 22vw;
          }
        }

        .spinner-cell {
          min-width: 100%;
          max-width: 100%;
        }

        .empty-table-cell {
          max-width: 40vw;
          min-width: 40vw;

          @media screen and (max-width: $medium) {
            max-width: 86vw;
            min-width: 86vw;
          }
        }
      }

      .search-icon {
        @media screen and (max-width: $medium) {
          margin: 0 0 2rem 0;
        }
      }
    }
  }
}

// =========== add order modal ========== //
.add-order-form {
  box-sizing: border-box;
  height: calc(80vh - 4rem);
  padding: 0 2rem;
  width: calc(66vw - 4rem);

  h2 {
    @media screen and (min-width: $xx-large) {
      font-size: 2.5rem;
    }
  }

  .book-input-group,
  .order-input-group {
    .order-form-group {
      margin: 0.5rem 0;

      .label-input-group {
        margin: 0.75rem 0;
      }

      .radio-group {
        // flex properties
        @include displayFlex(flex-start, flex-start);
      }

      label {
        font-size: 0.8rem;
        font-weight: 600;
        display: inline-block;
        width: 25%;
      }

      input {
        border: solid 1px #d3d3d3;
        border-radius: 5px;
        padding: 0.5em;
        transition: all 0.5s ease;
      }

      input[type="number"] {
        margin-bottom: 1rem;
        width: 10%;
      }

      input[type="number"]:first-of-type {
        margin-bottom: 1rem;
        width: inherit;
      }
    }
  }

  .book-input-group {
    // flex properties
    @include displayFlex(stretch, center);

    .order-form-group {
      margin-top: 3em;
      margin-left: (-4rem);
      width: calc(66vw - 4rem);

      // flex properties
      align-self: center;
    }
  }

  .order-input-group {
    height: 30%;
    width: 100%;

    // flex properties
    @include displayFlex(flex-start, flex-start, column nowrap);

    h2 {
      justify-self: flex-start;
    }

    .last-group {
      width: 100%;

      .label-input-group {
        width: 50%;
      }
    }
  }

  .last-group {
    @include displayFlex(stretch, flex-start);
  }

  .add-button {
    cursor: pointer;
    border: solid transparent 2px;
    border-radius: 20px;
    padding: 0.5rem 0;
    transition: all 0.5s ease;
    width: 20%;

    &:hover {
      opacity: 0.7;
    }
  }
}

// ========== view order modal ========== //
.orders-modal {
  height: 100%;
}

.orders-view-modal {
  height: 100%;

  .orders-view-modal-titles {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 100%;

    h1 {
      @media screen and (min-width: $xx-large) {
        font-size: 3rem;
      }
    }

    h5 {
      margin: 0.5rem 0;
      @media screen and (min-width: $xx-large) {
        font-size: 1.5rem;
      }
    }
  }

  .orders-view-modal-content {
    height: calc(65% - 2rem);

    // flex properties
    @include displayFlex(flex-start, space-evenly);

    .orders-view-modal-book {
      border-right: solid #d8d8d8 2px;
    }

    .orders-view-modal-receipt {
      p {
        padding-left: 2rem;
      }
    }

    .orders-view-modal-book,
    .orders-view-modal-receipt {
      height: 100%;
      width: calc(50% - 1rem);

      // flex properties
      display: flex;
      flex-flow: column nowrap;

      h3 {
        margin-top: 1rem;
        text-align: center;

        @media screen and (min-width: $xx-large) {
          font-size: 2.5rem;
        }
      }

      p {
        margin: 0.9rem 0;

        @media screen and (min-width: $xx-large) {
          font-size: 2rem;
        }
      }
    }

    .order-label {
      font-size: 0.9rem;
      font-weight: 600;
    }
  }

  .orders-view-modal-buttons {
    padding-top: 2rem;
    position: relative;

    // flex properties
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}
