// ========= sale page content container with everything except admin title ========== //
.sales-page-content {
  margin-top: 2rem;

  //   flex properties
  @include displayFlex(center, space-evenly);

  @media screen and (max-width: $medium) {
    @include displayFlex(center, center, column nowrap);
  }

  h2 {
    margin-bottom: 2rem;
    text-align: center;

    @media screen and (max-width: $medium) {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .recent-sales-table-container {
    height: 52.5vh;
    width: calc(50% - 3rem);

    // flex properties
    @include displayFlex(center, flex-start, column nowrap);

    @media screen and (max-width: $medium) {
      height: 33vh;
    }

    table {
      width: 80%;

      @media screen and (max-width: $medium) {
        width: calc(100vw - 5rem);
      }

      tbody {
        min-height: 20vh;
        max-height: 32.5vh;

        @media screen and (max-width: $medium) {
          min-height: 20vh;
          max-height: 20vh;
        }
      }

      td {
        min-width: 7.25vw;
        max-width: 7.25vw;

        @media screen and (max-width: $medium) {
          min-width: 21vw;
          max-width: 21vw;
        }
      }

      .empty-table-cell {
        max-width: 32.5vw;
        min-width: 32.5vw;

        @media screen and (max-width: $medium) {
          max-width: calc(100vw - 5rem);
          min-width: calc(100vw - 5rem);
        }
      }

      .spinner-row {
        width: 32.5vw;

        td {
          min-width: 32.5vw;
        }
      }
    }
  }

  .sales-graph-container {
    height: 52.5vh;
    width: calc(50% - 1rem);

    @media screen and (max-width: $medium) {
      height: 37.5vh;
      width: calc(100vw - 5rem);
    }
  }
}

// ========== sales view modal ========== //
.sales-view-modal {
  height: 100%;

  .sales-view-modal-titles {
    margin-bottom: 1.5rem;
    text-align: center;

    h5 {
      margin: 0.5rem 0;
    }
  }

  .sales-view-modal-content {
    height: 70%;

    // flex properties
    @include displayFlex(flex-start, space-evenly);

    .sales-view-modal-book {
      border-right: solid #d8d8d8 2px;
    }

    .sales-view-modal-receipt {
      padding-left: 2rem;
    }

    .sales-view-modal-book,
    .sales-view-modal-receipt {
      height: 100%;
      width: calc(50% - 1rem);

      // flex properties
      @include displayFlex(stretch, flex-start, column nowrap);

      h3 {
        margin-top: 1rem;
      }

      p {
        margin: 0.9rem 0;
      }
    }
  }

  .sales-view-modal-buttons {
    padding-top: 2rem;
    position: relative;

    // flex properties
    @include displayFlex(center, space-evenly);
  }
}
