// search bar icon plus input bar
.search-bar-group {
  margin-top: 1rem;

  // flex properties
  @include displayFlex(center, center);

  .search-icon {
    margin-bottom: 1.5rem;
  }

  input {
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    margin: 0 1em 0 3.5em;
    padding: 0.5rem;
    transition: all 0.5s ease;
    width: 25%;

    @media screen and (max-width: $medium) {
      width: 50%;
    }
  }
}

.search-options {
  // flex properties
  @include displayFlex(center, center);

  .input-label-group {
    margin: 0 0.5rem;

    // flex properties
    @include displayFlex(flex-start, flex-start);
  }
}

.search-results-group {
  box-sizing: border-box;
  height: calc(90vh - 23rem);
  margin-top: 2rem;
  overflow: hidden auto;
  padding: 2rem;
  width: 100%;

  .search-item {
    height: 10vh;
    margin-bottom: 1rem;

    // flex properties
    @include displayFlex(center, space-evenly);

    .search-item-img {
      height: 100%;
    }
  }

  .empty-search-message {
    color: $theme-red;
    text-align: center;
    width: 100%;
  }
}
