// ========== events page========== //
.events-content-container {
  padding: 2rem;

  // flex properties
  @include displayFlex(stretch, flex-start);

  @media screen and (max-width: $medium) {
    padding: 1rem;

    @include displayFlex(stretch, flex-start, column nowrap);
  }

  .events-calendar {
    border: solid 1px whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    min-height: 100%;
    max-width: 50vw;
    padding: 2em;
    width: 40vw;

    @media screen and (max-width: $medium) {
      min-height: 40vh;
      min-width: 100%;
    }

    abbr {
      text-decoration: none;

      @media screen and (min-width: $xx-large) {
        font-size: 1.5rem !important;
      }
    }

    button {
      background: none !important;
      color: $theme-blue;

      @media screen and (min-width: $xx-large) {
        font-size: 1.5rem !important;
      }

      &:hover {
        background: none !important;
      }

      &:focus {
        background: none !important;
      }
    }

    .react-calendar__month-view__days {
      min-height: 45vh;

      @media screen and (max-width: $medium) {
        min-height: 35vh;
      }

      button {
        font-size: 1rem !important;

        // flex properties
        @include displayFlex(center, center, column nowrap);

        @media screen and (min-width: $xx-large) {
          font-size: 2.5rem !important;
        }

        &:hover {
          background: $theme-blue !important;
          color: $theme-white;

          .event-circle {
            background: $theme-white;
          }
        }
      }

      .event-circle {
        background: $theme-red;
        border-radius: 50%;
        height: 6px;
        margin-bottom: -6px;
        width: 6px;
      }
    }

    .react-calendar__navigation__next2-button,
    .react-calendar__navigation__prev2-button {
      display: none;
    }
  }

  .event-info-container {
    margin-left: 2rem;

    @media screen and (max-width: $medium) {
      margin-left: 0;

      // flex properties
      @include displayFlex(stretch, flex-start);
    }

    .events-upcoming-container,
    .event-specific-container {
      border: solid 1px #f5f5f5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 4px 10px 0 rgba(0, 0, 0, 0.19);
      box-sizing: border-box;
      height: calc(50% - 1rem);
      padding: 1rem;
      width: calc(40vw - 3rem);

      @media screen and (max-width: $medium) {
        height: calc(33vh - 1rem);
        margin-top: 1rem;
        width: 50%;
      }

      @media screen and (min-width: $xx-large) {
        padding: 2rem 0 0 2rem !important;
      }

      h2 {
        font-weight: 200;
        margin-bottom: 1rem;

        @media screen and (max-width: $medium) {
          text-align: center;
        }

        @media screen and (min-width: $xx-large) {
          font-size: 2.5rem !important;
        }
      }
    }

    // top box with info on upcoming events
    .events-upcoming-container {
      margin-bottom: 2rem;

      @media screen and (max-width: $medium) {
        margin-right: 0.5rem;
        margin-bottom: 0;
      }

      .upcoming-events-content {
        height: 72.5%;

        // flex properties
        @include displayFlex(flex-start, flex-start, column nowrap);

        @media screen and (max-width: $medium) {
          margin-left: 0.5rem;
        }

        p {
          margin: 0.5rem 0;

          &:first-of-type {
            margin: 0;
          }

          span {
            @include heavyFont;
          }
        }
      }

      p {
        @media screen and (max-width: $medium) {
          font-size: 0.8rem;
        }

        @media screen and (min-width: $xx-large) {
          font-size: 1.75rem !important;
        }
      }
    }

    // bottom box with info on date clicked
    .event-specific-container {
      h3 {
        font-weight: 300;

        @media screen and (max-width: $medium) {
          font-size: 0.8rem;
          text-align: center;
        }
      }

      .empty-detail-event-group {
        // flex properties
        @include displayFlex(stretch, flex-start, column nowrap);

        @media screen and (max-width: $medium) {
          @include displayFlex(center, center, column nowrap);
        }
      }

      .detail-event-container {
        @include displayFlex(center, space-between);

        .detail-event-group {
          cursor: pointer;
          margin-top: 1rem;

          .event-date-label {
            @include heavyFont;
          }

          p {
            margin: 0.5rem 0;

            @media screen and (min-width: $xx-large) {
              font-size: 1.75rem !important;
            }

            span {
              @include heavyFont;
            }
          }
        }

        .fa-plus {
          margin-right: 2rem;
        }
      }

      .fa-plus {
        color: $theme-red;
        margin-top: 1rem;
        margin-left: 1rem;

        @media screen and (max-width: $medium) {
          margin-left: 0;
        }
      }
    }
  }

  .spinner-container {
    height: 60%;
    width: calc(100% - 1rem);

    // flex properties
    @include displayFlex(center, center);
  }
}

// ========== add event modal ========== //
.event-add-modal-content {
  border-radius: 0px;
  height: 60vh;
  margin-top: calc(50vh - 30vh);
  margin-left: calc(50vw - 30vw);
  width: 60vw;

  // flex properties
  @include displayFlex(flex-start, flex-start, column nowrap);

  h3 {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    width: 100%;
  }

  input,
  textarea {
    box-sizing: border-box;
    margin: 0.25rem 0;
    padding: 0.5rem;
    width: 100%;
  }

  textarea {
    height: 50%;
  }

  .X-button {
    margin-left: 49vw;
    margin-top: -7.5vh;

    @media screen and (max-width: $large) {
      margin-left: 43vw;
    }

    @media screen and (max-width: $medium) {
      margin-left: 42vw;
    }

    @media screen and (max-width: $small) {
      margin-left: 36vw;
    }
  }
}

.event-add-modal-form {
  height: 100%;
  width: 100%;

  // flex properties
  @include displayFlex(flex-start, flex-start, column nowrap);

  h3 {
    margin-bottom: 1rem;
    text-align: center;
  }

  input,
  textarea {
    margin: 0.25rem 0;
  }
}

// =========== view event modal =========== //
.view-event-modal-content {
  height: 100%;
  width: 100%;

  p {
    margin: 1rem 0;

    span {
      @include heavyFont;
    }
  }

  h4 {
    margin: 2rem 0 1rem 0;
  }
}
