.profile-page-content-container {
  box-sizing: border-box;
  // padding is set to 0 to override generic container padding to allow flex to distribute children easily
  padding-top: 2rem;
  padding-bottom: 2rem;

  // flex properties
  @include displayFlex(stretch, space-between, column nowrap);

  p {
    font-size: 1.25rem;

    @media screen and (max-width: $medium) {
      font-size: 1rem;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 2.5rem;
    }
  }
}
