.profile-page-content-container {
  // padding is set to 0 to override generic container padding to allow flex to distribute children easily
  padding-top: 0;
  padding-bottom: 0;

  // flex properties
  @include displayFlex(stretch, space-evenly, column nowrap);

  p {
    font-size: 1.25rem;

    @media screen and (max-width: $medium) {
      font-size: 1rem;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 2.5rem;
    }
  }
}
