// ============ settings including username and password ========== //
.settings-container {
  background: $theme-white;
  border: solid $theme-red 2px;
  border-radius: 10px;
  box-sizing: border-box;
  height: calc(100vh - 9rem);
  margin-top: 1rem;
  padding-left: 2rem;
  width: calc(90vw - 7rem);

  @media screen and (max-width: $medium) {
    height: calc(100vh - 4rem);
    width: calc(80vw - 2rem);
  }

  h2 {
    color: $theme-red;
    margin: 2rem 0;

    @media screen and (max-width: $medium) {
      text-align: center;
    }
  }

  p {
    font-size: 1.25rem;

    @media screen and (max-width: $medium) {
      font-size: 1rem;
      padding-left: 2rem;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 2rem;
    }

    &:nth-of-type(1) {
      margin-bottom: 1em;
    }
    &:nth-of-type(2) {
      margin-top: 1em;
    }
  }

  .settings-content {
    height: calc(100% - 8rem);

    .settings-email-password {
      height: calc(100% - 2rem);

      @media screen and (max-width: $medium) {
        margin-bottom: 1rem;
        width: calc(100% - 2rem);
      }
    }
  }
}
