@font-face {
  font-family: "Montserrat";
  src: url("css/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("css/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MV Boli";
  src: url("css/fonts/mv-boli/mvboli.ttf");
}

@font-face {
  font-family: "MV Boli";
  src: url("css/fonts/mv-boli/mvboli.ttf");
}
