// ========== include email and password input on landing page ========== //
.landing-input-group {
  margin-top: 5vh;

  // flex properties
  @include displayFlex(center, flex-start, column nowrap);

  input {
    display: block;
    padding: 1.15em 0.5em;
    width: 25vw;
  }

  // password input
  input:nth-of-type(2) {
    margin-top: 4vh;
    margin-bottom: 2vh;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }

  h4 {
    width: 25vw;
  }

  .login-button {
    background: $theme-blue;
    border: none;
    border-radius: 3px;
    color: $theme-white;
    margin-top: 2.5vh;
    padding: 0.75em 0;
    transition: opacity 0.5s ease;
    width: 12.5vw;

    &:hover {
      cursor: pointer;
      opacity: 0.75;
    }
  }
}

// =========== logout button on dashboard navigation =========== //
.logout {
  font-size: 1.33rem;

  @media screen and (max-width: $medium) {
    margin-bottom: 5vh;
  }

  span {
    @media screen and (max-width: $medium) {
      display: none;
    }
  }

  @media screen and (min-width: $xx-large) {
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
  }

  .fa-power-off {
    color: $theme-red;
  }
}
