// =========== search icon underneath inventory table ========== //
.search-icon {
  cursor: pointer;
  height: 5vh;
  margin-top: 1rem;
}

// =========== pictures of each staff member in the individuals tr's in the staff page table ========== //
.staff-list-member-img {
  border-radius: 50%;
  height: 7.5vh;
}

.staff-modal-view-image {
  border-radius: 50%;
  height: 25vh;
}
