.home-logo-group {
  // flex properties
  @include displayFlex(center, center, column nowrap);

  .home-logo {
    border-radius: 50%;
    cursor: pointer;
    height: 12.5vh;

    @media screen and (max-width: $medium) {
      display: none;
    }
  }
}

.dashboard-home-logo {
  cursor: pointer;
  height: 15vh;
}
