.home-logo-group {
  // flex properties
  @include displayFlex(center, center, column nowrap);

  .home-logo {
    border-radius: 50%;
    cursor: pointer;
    height: 12.5vh;

    @media screen and (max-width: $medium) {
      height: 7.5vh;
    }
  }
}

.dashboard-home-logo {
  cursor: pointer;
  margin-top: 6rem;

  @media screen and (max-width: $medium) {
    height: 8vh;
  }

  @media screen and (min-width: $medium) {
    height: 10vh;
    margin-top: 0;
  }

  @media screen and (min-width: $large) {
    height: 12vh;
  }
}
