// ========== STYLING SPECIFIC TO ALL MODALS==========//
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 10;

  .modal-content {
    background: $theme-white;
    border-radius: 20px;
    box-sizing: border-box;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 17vw;
    padding: 2rem;
    width: 66vw;

    .X-button {
      left: 81vw;
      position: fixed;
      top: 12vh;

      @media screen and (max-width: $large) {
        left: 58vw;
      }

      @media screen and (max-width: $medium) {
        left: 56vw;
      }

      @media screen and (max-width: $small) {
        left: 52vw;
      }
    }
  }
}

// =========== STYLING SHARED BY TASKS & EVENTS MODALS =========== //
.profile-modal-content {
  background: $theme-white;
  box-sizing: border-box;
  padding: 1rem 2rem;

  form {
    width: 100%;
  }

  .X-button {
    left: 29vw;
    position: fixed;
    top: 29vh;
  }
}
