// ========== the navigation and profile picture on the left of the dashboard ========== //
.dashboard-sidebar-container {
  background: $theme-white;
  height: 100vh;
  padding: 4rem 0;
  width: 20vw;

  //   flex properties
  @include displayFlex(center, flex-start, column nowrap);

  @media screen and (max-width: $medium) {
    padding: 0;
  }

  ul {
    font-size: 1.33rem;
    list-style: none;
    margin: 2.25rem 0;
    padding: 0;
    width: 100%;

    @media screen and (max-width: $medium) {
      margin: auto 0 auto 0;
      padding-top: 10vh;
    }

    @media screen and (min-width: $xx-large) {
      font-size: 2rem;
      margin: 7.75rem;
    }

    li {
      margin: 12.5% 0;
      text-align: center;

      @media screen and (max-width: $medium) {
        margin: 5vh 0;
      }

      span {
        @media screen and (max-width: $medium) {
          display: none;
        }
      }
    }
  }

  h4 {
    font-family: "Montserrat";
  }
}

// =========== navigation on profile related pages ========== //
.icon-sidebar-container {
  background: $theme-white;
  min-height: 100vh;
  min-width: 10vw;

  //   flex properties
  display: inline-flex;
  @include displayFlex(center, flex-start, column nowrap);

  @media screen and (max-width: $medium) {
    min-width: 20vw;
  }

  @media screen and (min-width: $xx-large) {
    font-size: 1.5rem;
  }

  ul {
    list-style: none;
    margin: 25vh 0 20vh 0;
    padding: 0;
    text-align: center;

    @media screen and (min-width: $xx-large) {
      margin: 30vh 0 25vh 0;
    }

    li {
      margin: 2em 0;
    }
  }

  .fa-home {
    color: $theme-red;
  }
}

// ========== widget navigation on admin pages ========= //
.widget-navigation-container {
  margin-left: auto;

  // flex properties
  @include displayFlex(center, flex-start);

  @media screen and (max-width: $medium) {
    width: 100%;

    // flex properties
    @include displayFlex(center, center);
  }

  a {
    // flex properties
    @include displayFlex(center, center, column nowrap);

    &:hover {
      h4 {
        opacity: 1;
      }
    }

    h4 {
      opacity: 0;
      transform: translateY(1rem);
      transition: all 0.75s ease;
    }
  }

  // navigation widgets
  .navigation-widget {
    height: 10vh;
    margin: 0 0.5rem;
    transition: all 0.5s ease;

    @media screen and (max-width: $medium) {
      height: 7.5vh;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.25);
    }
  }

  i {
    color: $theme-red;
  }
}

// ========== dropdown navigation ========== //
.dropdown-navigation {
  z-index: 2;

  @media screen and (max-width: $medium) {
    display: none;
  }

  .dropdown-triggers {
    // flex properties
    @include displayFlex(center, flex-start);

    &:hover {
      h4 {
        opacity: 1;
      }
    }

    h4 {
      opacity: 0;
      transition: all 0.75s ease;
    }

    .fa-sort-down {
      margin-left: -1.25rem;
      margin-top: -1rem;

      @media screen and (min-width: $xx-large) {
        font-size: 2rem;
      }
    }
  }

  ul {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: none;
    list-style: none;
    margin-top: 1.5em;
    padding: 1em;
    position: absolute;
    text-align: center;

    &::before {
      content: "";
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid white;
      height: 0;
      position: absolute;
      left: 17.5%;
      top: -20px;
      width: 0;
      z-index: 2;
    }

    &::after {
      content: "";
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 22px solid rgba(0, 0, 0, 0.07);
      height: 0;
      left: 17.5%;
      top: -22px;
      position: absolute;
      width: 0;
      z-index: 1;
    }

    li {
      cursor: pointer;
      margin: 1em 0;
    }
  }
}
