// ========== general styling for all tables ========== //
table {
  display: block;
  text-align: center;

  @media screen and (min-width: $xx-large) {
    font-size: 2rem;
  }

  thead {
    display: block;
    position: relative;

    tr {
      td {
        @media screen and (min-width: $xx-large) {
          font-size: 2rem;
        }
      }
    }
  }

  tbody {
    border-top: solid #d3d3d3 1px;
    display: block;
    overflow: hidden auto;
    position: relative;
  }

  td {
    box-sizing: border-box;
    padding: 0.5em;
    position: relative;
    text-align: center;
  }

  .empty-table-cell {
    color: $theme-red;
  }

  .spinner-row {
    display: block;
    height: 15vh;
    padding-top: 1rem;

    td {
      display: block;
      min-width: 100%;
    }
  }
}
