// colors
$theme-blue: #45546c;
$theme-green: #5cb85c;
$theme-purple: #d2c7ff;
$theme-red: #d9534f;
$theme-white: #fff;
$theme-yellow: #ffde59;

$theme-main-background: linear-gradient(#fff, #c4e0e5);

// responsive screen sizes
$small: 576px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;
$xx-large: 1400px;
