// =========== STYLING FOR ORINDA BOOKS TITLE AND LOGIN CONTAINER =========== //
// styling for the login form can be found in auth component

.landing-container {
  position: relative;
  top: 20vh;
  width: 100vw;

  // flex properties
  @include displayFlex(center, flex-start, column nowrap);

  h1 {
    font-size: 4.5rem;
    margin: 0;

    @media screen and (max-width: $medium) {
      font-size: 3rem;
    }

    @media screen and (max-width: $small) {
      font-size: 2rem;
    }
  }

  .auth-error-group {
    h4 {
      color: $theme-red;
      margin-top: 0.5rem;
    }
  }
}
