// ==========  profile related pages ========== //

// ========== full page container for profile-related pages ========== //
.full-page-container {
  min-height: 100vh;
  width: 100vw;

  @include displayFlex(stretch, flex-start);
}

// ========== container for everything except the sidebar with the icon navigation ========== //
.main-section-container {
  height: 100vh;
  padding: 0 3rem;
  width: 80vw;

  @media screen and (max-width: $medium) {
    padding: 0 1rem;
  }

  @media screen and (min-width: $xx-large) {
    padding: 0 5rem;
  }
}

// ==========  these are the white boxes underneath the title =========== //
.profile-related-content-container {
  background: $theme-white;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: calc(90vh - 4rem);
  margin-bottom: 1rem;
  padding: 2rem;
  min-width: calc(90vw - 6rem);

  @media screen and (max-width: $medium) {
    margin: 0.5rem;
    min-height: calc(100vh - 7rem);
    min-width: calc(80vw - 3rem);
    max-width: calc(80vw - 3rem);
    padding: 0.5rem;
  }

  @media screen and (min-width: $xx-large) {
    min-height: calc(100vh - 14rem);
    min-width: calc(90vw - 10rem);
    padding: 2rem 4rem;
  }
}

// ==========  admin related pages ========== //

// ========== full page container with everything in for admin related pages ========== //
.admin-full-page-container {
  background: $theme-main-background;
  height: 100vh;
  width: 100vw;
}

// ===========  container with the profile pic and widget navigation ========== //
.topbar-container {
  box-sizing: border-box;
  padding: 2rem 3rem 1rem 3rem;
  width: 100%;

  // flex properties
  @include displayFlex(center, flex-start);

  @media screen and (max-width: $medium) {
    padding: 2rem 0;
  }
}

// ===========  admin content container excluding the admin topbar ========== //
.admin-content-container {
  background: $theme-white;
  border-radius: 20px;
  box-sizing: border-box;
  height: calc(90vh - 7rem);
  margin: 0 3rem 3rem 3rem;
  padding: 2rem 3rem;

  @media screen and (max-width: $medium) {
    height: calc(90vh - 4rem);
    margin: 0 1rem 1rem 1rem;
  }
}
